* {box-sizing: border-box;}
.wrapper {
  max-width: 90%;
  margin: 1%;  
  margin-left: 65px;
}

body{
  background-color: white;
}

h2{
  margin-left: 45px;
  color: darkblue;
  font-size: 2em;
}

h3{
  margin-left: 85px;
  color: black;
  font-size: 1.5em;
}

h4{
  margin-left: 105px;
  color: black;
  font-size: 1.2em;
}

h5{
  margin-left: 115px;
  color: black;
  font-size: 1em;
}

p{
  margin-left: 10px;
  font-size: 1.1em;
  text-align: justify;
  margin-right: 20px;
}

#titol{
  margin-top: 25px;
  margin-left: 30%;
  margin-bottom: 30px;
  font-size: 3em;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(1, 1fr);
}

.wrapper > div {
  border-radius: 5px;
  padding: 0.6em;
  border: 2px;
  border: solid;  
  border-color: #080950;
  text-align: center;
}

.wrapper2 {
  display: grid;
  grid-template-columns: repeat(100, 1fr);
  grid-gap: 10px;
  grid-template-rows: repeat(1, 1fr);
  margin-left: 15px;
  margin-right: 55px;
}

.index {
  grid-column: 1/43;
  overflow-y: scroll;
  max-height: 500px;
}

.apartatteoria  {
  grid-column: 43/101;
  overflow-y: scroll;
  max-height: 500px;
  margin-left: 20px;
}

.titol1  {
  margin-left: 5px;
  color: black;
  font-size: 1.5em;
}

.titol2{
  margin-left: 15px;
  color: black;
  font-size: 1.3em;
  margin-top: 45px;
}

.titol3{
  margin-left: 25px;
  color: rgb(82, 82, 82);
  font-size: 1.3em;
  margin-top: 45px;
}

.titol4{
  margin-left: 35px;
  color: rgb(82, 82, 82);
  font-size: 1.3em;
  margin-top: 35px;
}

img.centered{
  display: block;
  margin:auto;
}

.peuimatge{
  text-align: center;
  font-size: 1em;
  color: #000088;
}

/*Grid*/

#vigenerebutton{
  border-radius: 5px;
  padding: 0.6em;
  border: 2px;
  border: solid;  
  border-color: #080950;
  text-align: center;
  width: 150px;
  margin: auto;
}

#documentdownload{
  border-radius: 5px;
  padding: 0.6em;
  border: 2px;
  border: solid;  
  border-color: #080950;
  text-align: center;
  width: 150px;
  margin-left: 165px;
}